<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniBase</title>
</head>
<body>
    <div id="login">
    </div>
    <!-- <a href='http://127.0.0.1:8899/api/login/auth?code=test'>Login</a> -->
    <input type="text" id="search_bar" value="">
    <div id="results"></div>
    <br>
    {% for item in series %}
        <div>
            <img src="{{ item.coverImage.large }}">
            <h1>{{ item.title.romaji }}</h1>
            <h3>Episode {{ item.nextAiringEpisode.episode }} in:</h3>
            <h4 class="timer">{{ item.nextAiringEpisode.timeUntilAiring }}</h4>
            <br><br>
        </div>
    {% endfor %}
</body>
<script type="text/javascript" src="./static/timers.js"></script>
<script type="text/javascript" src="./static/main.js"></script>
<script type="text/javascript" src="./static/search.js"></script>
<style>
* {
    padding: 0;
    margin: 0;
}
.result {
    display: flex;
    flex-direction: row;
}
</style>
</html>